<div class="espaco">
  <div class="contato">

      <div class="logo-contact">
      <div class="dados-contact">Pougy.<strong class="sampa-contact" >dev</strong></div>
      </div>

    <form class="formulario">
      <div class="boxy boxy1">
        <div class="linha-contato"></div>
        <h3 class="title-contatc">Endereço</h3>
        <p>Rua das Acácias, 123</p>
        <p>São Paulo, SP, 00000-000</p>
      </div>

      <div class="boxy">
        <div class="linha-contato"></div>
        <h3 class="title-contatc">Telefone</h3>
        <p>(XX) XXXX-XXXX</p>
      </div>

      <div class="boxy">
        <div class="linha-contato"></div>
        <h3 class="title-contatc" >E-mail</h3>
        <p class="nested">pougy.dev@exemplo.com</p>
      </div>
      
    </form>
  </div>
</div>