<div class="bootstrap">
 <div class="home-page">
  <h2 class="home-page-title">conheça o dados.sampa</h2>
  <p class="home-page-paragh">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus, rerum? Nihil a sunt repudiandae reprehenderit, nemo fuga eligendi praesentium similique minima. Labore dolore fuga beatae aut dolorum, doloremque officia illum!Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. </p>
  </div>
  
  
  <div class="dados">
   <div class="dados-inseridos">
    <h3 class="homepage-title">Blog</h3>
    <div class="linha"></div>
      <h4>Como não cair em golpes online</h4>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
      <a class="link-home" href="{{post.permalink}}">Veja Mais_</a>
   </div>
   <div class="dados-inseridos">
    <h3 class="homepage-title">Blog</h3>
    <div class="linha"></div>
      <h4>Como não cair em golpes online</h4>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
      <a class="link-home" href="{{post.permalink}}">Veja Mais_</a>
   </div>
  </div>
  <div class="acesse">
    <p class="color">Acesse</p>
    <a href="https://github.com/h-pgy"><img src="../assets/img/pexels/logo-github.png" alt="imagem do github"></a>
    <a href="https://www.linkedin.com/in/henrique-pougy/"><img src="../assets/img/pexels/social-linkedin.png" alt="imagem do linkedin"></a>
 </div>
</div>

